/* For Fonts */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

/* For Selectors */
body {
    margin: 0;
    background-color: rgb(129, 144, 255);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 30px;
    height: 60px;
}

header > p {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    cursor: pointer;
}

#header_title {
    width: 130px;
    height: 50px;
}

aside {
    float: left;
    box-sizing: border-box;
    width: 250px;
    border-right: 1px solid rgb(180, 180, 180);
}

main {
    float: left;
    box-sizing: border-box;
    overflow: scroll;
    background-color: white;
}

.box {
    display: flex;
    box-sizing: border-box;
    width: 500px;
    height: 50px;
}

.title_box {
    float: left;
    display: flex;
    align-items: center;
    padding-left: 30px;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
}

.title_box > p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.input_box {
    float: left;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 30px;
    width: 350px;
    height: 50px;
}

input[type="text"] {
    box-sizing: border-box;
    width: 290px;
    height: 27px;
    font-size: 15px;
    border-bottom: 2px solid rgb(195, 202, 255);
}

.submit_box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 500px;
    height: 50px;
}

input[type="submit"] {
    padding: 0;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    font-size: 15px;
    font-family: 'Shippori Antique B1', sans-serif;
    color: white;
    background-color: rgb(148, 161, 255);
}

.box:not(:last-child) {
    margin-bottom: 50px;
}

input {
    outline: none;
    border: none;
}

select {
    outline: none;
    border: none;
    border-radius:0;
    appearance:none;
    text-align: center;
    height: 25px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid rgb(195, 202, 255);
}

#start_year, #end_year {
    width: 50px;
}

#start_month, #start_day, #start_hour, #start_minute,
#end_month, #end_day, #end_hour, #end_minute {
    width: 40px;
}

select::-ms-expand {
    display: none;
}

input:active {
    outline: none;
}

input:focus {
    outline: none;
}

footer {
    clear: both;
    height: 40px;
}