/* For Fonts */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500&display=swap');

/* For Selectors */
body {
    margin: 0;
}

header {
    display: flex;
    box-sizing: border-box;
    padding: 5px 30px;
    height: 60px;
    background-color: rgb(129, 144, 255);
}

header > p {
    margin: 0;
    text-align: center;
    width: 130px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

aside {
    float: left;
    box-sizing: border-box;
    width: 250px;
    background-color: gray;
}

main {
    float: left;
    box-sizing: border-box;
}

#calendar_title {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 50px;
    height: 50px;
    border-bottom: 1px solid rgb(180, 180, 180);
}

#calendar_title > button {
    width: 23px;
    height: 23px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(180, 180, 180);
}

#calendar_title > p {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

main > table {
    border-collapse: collapse;
}

main > table > tbody > tr {
    border-bottom: 1px solid rgb(180, 180, 180);
}

main > table > tbody > tr > td {
    padding: 0;
    text-align: right;
    font-size: 2vmin;
}

main > table > tbody > tr > td:not(:last-child) {
    border-right: 1px solid rgb(180, 180, 180);
}

.day_of_the_week {
    text-align: center;
    height: 40px;
}

.day_of_the_week:first-child,
.sunday_4week, .sunday_5week, .sunday_6week {
    color: rgb(255, 91, 91)
}

.day_of_the_week:not(:first-child, :last-child),
.weekday_4week, .weekday_5week, .weekday_6week {
    color: rgb(77, 77, 77);
}

.day_of_the_week:last-child,
.saturday_4week, .saturday_5week, .saturday_6week {
    color: rgb(91, 91, 255);
}

footer {
    clear: both;
    height: 40px;
    background-color: rgb(129, 144, 255);
}